/**
 * @name Nightcord
 * @author Seilent
 * @version 1.0.1
 * @description Discord theme based on niigo's nightcord theme
 * @source https://github.com/seilent/Nightcord
*/

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:wght@400;600&display=swap');

/*Base css*/
@import url('https://seilent.github.io/nightcord/sekai/base/base.css');

/*Server Hide (Bugged)*/
/*@import url(https://seilent.github.io/discord-serverlist-drawer/drawer.theme.css);*/

:root {
      --font-primary: "Nunito";
      --font-japanese: "Noto Sans JP";
      
      /*Use HSL color*/
      --accent-hue: 253;
      

      /* Changing the saturation and light might cause the background to become too bright */
      --accent-saturation: 25%;
      --accent-light: 28%;

      /* change the name into other icon
         currently available : genshin element and nightcord*/
      --icon: var(--icon-nightcord);
}


/** MOAR STUFF **/

:root {
  --font-weight: 400;
  --nightcord-accent: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2), calc(var(--accent-light) * 1.6));
  --nightcord-dark: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.2), calc(var(--accent-light) / 1.2));
  --nightcord-light: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.2), calc(var(--accent-light) * 1.5));
  --channels-default: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.5), 60%);
  --text-bright: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1), 85%);
  --text-normal: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.5), calc((100% - var(--accent-light)) * 1.30));
  --text-muted: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.8), calc((100% - var(--accent-light)) * 0.9));
  --text-link: hsl(var(--accent-hue), calc(var(--accent-saturation) * 2.5), 90%);
  --text-dark: hsl(var(--accent-hue), calc(var(--accent-saturation) / 5), calc(var(--accent-light) / 1.55));
  --background-secondary: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light));
  --background-primary: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.31), calc(var(--accent-light) * 1.25));
  --scrollbar-thin-thumb: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.04), calc(var(--accent-light) / 1.217));
  --scrollbar-auto-track: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.19), calc(var(--accent-light) / 1.07));
  --brand-color: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.8), calc(var(--accent-light) * 2.285));
  --brand-color-hover: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.32), calc(var(--accent-light) * 2));
  --brand-experiment-30a: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.27), calc(var(--accent-light) / 1.6));
  --brand-experiment-200: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.04), calc(var(--accent-light) * 3.42));
  --background-secondary-alt: var(--background-secondary);
  --background-tertiary: var(--background-secondary);
  --background-modifier-active: var(--nightcord-dark);
  --background-modifier-accent: var(--nightcord-dark);
  --background-modifier-selected: var(--background-primary);
  --background-modifier-hover: var(--nightcord-accent);
  --channeltextarea-background: var(--background-secondary);
  --background-accent: var(--background-primary);
  --background-floating: var(--background-secondary);
  --scrollbar-auto-thumb: var(--scrollbar-thin-thumb);
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thin-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--text-normal);
  --brand-experiment-15a: var(--scrollbar-thin-thumb);
  --brand-experiment-560: var(--nightcord-accent);
  --brand-experiment-600: var(--background-secondary);
  --background-mentioned: var(--background-secondary);
  --background-mentioned-hover: var(--background-secondary);
  --brand-experiment: var(--background-primary);
  --text-link: var(--text-muted);
  --deprecated-card-bg: var(--background-secondary);
}