/**
 * @name Nightcord
 * @author Seilent
 * @version 1.2.0
 * @description Discord theme based on niigo's nightcord theme
 * @source https://github.com/seilent/Nightcord
*/

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:wght@400;600&display=swap');

/*Serverlist Drawer by Freeplayg*/
@import url('https://seilent.github.io/discord-serverlist-drawer/drawer.theme.css');

/*Base css*/
@import url('https://seilent.github.io/nightcord/base/base.css');

:root {
      --font-primary: "Nunito";
      --font-japanese: "Noto Sans JP";
      
      --accent-hue: 253;
      --accent-saturation: 25%;

      /* Changing the light might cause the background to become too bright */
      --accent-light: 28%;

      /* change the name into other icon
         currently available : genshin element */
      --icon: var(--icon-nightcord);
}


/** MOAR STUFF **/

:root {
  --font-weight: 400;
  --nightcord-accent: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2), calc(var(--accent-light) * 1.6));
  --nightcord-dark: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.28), calc(var(--accent-light) / 2));
  --nightcord-light: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1), calc(var(--accent-light) * 1.1));
  --channels-default: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.5), 60%);
  --text-bright: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.5), 95%);
  --text-normal: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.5), calc((100% - var(--accent-light)) * 1.30));
  --text-muted: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.8), calc((100% - var(--accent-light)) * 0.9));
  --text-link: hsl(var(--accent-hue), calc(var(--accent-saturation) * 2.5), 90%);
  --text-dark: hsl(var(--accent-hue), calc(var(--accent-saturation) / 5), calc(var(--accent-light) / 1.55));
  --background-secondary: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light));
  --background-primary: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.31), calc(var(--accent-light) * 1.25));
  --scrollbar-thin-thumb: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.04), calc(var(--accent-light) / 1.217));
  --scrollbar-auto-track: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.19), calc(var(--accent-light) / 1.07));
  --brand-color: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.8), calc(var(--accent-light) * 2.285));
  --brand-color-hover: hsl(var(--accent-hue), calc(var(--accent-saturation) * 1.32), calc(var(--accent-light) * 2));
  --brand-experiment-30a: hsl(var(--accent-hue), calc(var(--accent-saturation) / 2.27), calc(var(--accent-light) / 1.6));
  --brand-experiment-200: hsl(var(--accent-hue), calc(var(--accent-saturation) / 1.04), calc(var(--accent-light) * 3.42));
}