/**
 * @name Electrogen
 * @author Seilent
 * @version 1.0.0
 * @description Discord theme based on Genshin's Electro
 * @source https://github.com/seilent/Nightcord
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Nunito:wght@400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/seilent/discord-serverlist-drawer@main/theme.theme.css');
@import url('https://cdn.jsdelivr.net/gh/seilent/Nightcord@main/base/base.css');

:root {
      --font-primary: "Nunito";
      --font-japanese: "Noto Sans JP";
      
      --accent-hue: 268;
      --accent-saturation: 30%;
      --accent-light: 28%;
}
