/**
 * @name Elemental
 * @author Seilent
 * @version 1.2.5
 * @description Discord theme based on Genshin's element colors.
 * @source https://github.com/seilent/Nightcord
*/

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:wght@400;600&display=swap');

/*Serverlist Drawer by Freeplayg*/
@import url('https://seilent.github.io/discord-serverlist-drawer/drawer.theme.css');

:root {
      --font-primary: "Nunito";
      --font-japanese: "Noto Sans JP";
      
      --accent-hue: 280;
      --accent-saturation: 30%;

      /* Changing the light might cause the background to become too bright */
      --accent-light: 20%;

      /* change the name into other icon
         currently available : genshin element */
      --icon: var(--icon-electro);
}
